body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: black;
    background-color: #ffffff
}

pre {
    width: 500px;                          /* specify width  */
	white-space: pre-wrap;                 /* CSS3 browsers  */
	white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
	white-space: -pre-wrap;                /* Opera 4 thru 6 */
	white-space: -o-pre-wrap;              /* Opera 7 and up */
	/* word-wrap: break-word; */                 /* IE 5.5+ and up */
    font-family: "Courier New", monospace;
    line-height: 1.6em;
    margin: 1.7em 0 1.7em 0.3em;
    font-size: 12px;
	/* overflow-x: auto; */                /* Firefox 2 only */
	width: 90%; 		       /* only if needed */
}

h2 {
    font-family: Georgia, Helvetica,san-Serif;
    font-weight: bold;
    font-size: 20pt;
    /*color:#fffff0;*/
    color: #2A4E68;
    padding: 5px;
    margin: 20px 0px 0px 0px;
    /*background:#3399ff;*/
    /*border-radius: 20px;*/
    /*
    font-family: "Helvetica Neue", Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif;
    padding: 0px;
    font-weight: normal;
    color: #2A4E68;
    border-top: 1px solid black;
    #border-bottom: 0.5px solid black;
    #background: #ff9933;
    #border-radius: 10px;
    width:750px;
    */
}

h3 {
    font-family: "Helvetica Neue", Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif;
    margin: 0px 0px 0px 0px;
    padding: 5px;
    font-weight: normal;
    font-style: italic;
    color: #ff9933;
    border-bottom: 0.5px solid black;
    width:750px; /*Change this to whatever value that you want*/
}




pre.pass {
    border-left: 2px solid #009900;
}
pre.fail {
    border-left: 2px solid #f00000;
}

font.pass {color:#00cc00; text-decoration:none;}
font.fail {color:#f00000; font-weight:bold; text-decoration:none;}

.collapsibleList li{
  list-style-image:url('button.png');
  cursor:auto;
  margin:0 0 5px 0;
}

li.collapsibleListOpen{
  list-style-image:url('button-open.png');
  cursor:pointer;
  margin:0 0 5px 0;
}

li.collapsibleListClosed{
  list-style-image:url('button-closed.png');
  cursor:pointer;
}

.message {
    position: absolute;
    display: none;
    border: 0px solid red;
    width:80px;
    height:80px;
    padding: 0px;
    float: top;
    font-size: 8pt;
}

#main {
    width:1000px;
    float:left;
    border: 0px solid red;
}

#internal {
    width:1800px;
    float:left;
    border: 0px solid red;
}



table
{
    font-family: Helvetica,san-Serif;
    font-weight: normal;
    font-size: large;
    border: 0px solid blue;
    padding: 0px;
    border-spacing:0px;
    border-collapse:collapse;
}

th {
    font-family: Georgia, Helvetica,san-Serif;
    font-weight: bold;
    font-size: 20pt;
    /*color:#fffff0;*/
    color: #2A4E68;
    padding: 5px;
    /*background:#3399ff;*/
    /*border-radius: 20px;*/
}

tr {
    font-family: Helvetica,san-Serif;
    font-weight: normal;
    font-size: large;
    padding: 0px;
    vertical-align: top;
}

td {
    font-family: Helvetica,san-Serif;
    font-weight: normal;
    font-size: large;
    vertical-align: middle;
    padding: 5px;

    border-style: solid;
    border-width: 0px;
    border-color: black;
}

td.clickme {
        font-family: Helvetica,san-Serif;
        font-weight: normal;
        font-size: large;
        vertical-align: bottom;
        padding: 20px;
        /*background:#e5e5e5;*/
        background:#ffffff;
        border-radius: 15px;
        border-style: solid;
        border-width: 0px;
        border-color: black;
        text-align: center;
    }

.myButton {
	-moz-box-shadow: 0px 10px 14px -7px #3e7327;
	-webkit-box-shadow: 0px 10px 14px -7px #3e7327;
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
	background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
	background-color:#77b55a;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
	background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
	background-color:#72b352;
}
.myButton:active {
	position:relative;
	top:1px;
}


